.nav > li > a {
  padding: 15px 61px;
}
.navbar {
  margin-bottom: -3px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}
.navbar-nav {
  margin-left: 20px;
  > li {
    > a {
      font-family: 'CheapPine-Sans', impact, sans-serif;
      font-size: 26px;
      font-weight: normal;
      padding-left: 0;
      padding-right: 47px;
      text-transform: uppercase;
      color: #000;
      @include breakpoint(papa-bear) {
        font-size: 24px;
          padding-right: 20px;
        }
    }
    &:last-child > a {
      padding-right: 0;
    }
  }
}
.navbar-default {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggle {
  color: #000;
  background-color: #f1e9c5;
  z-index: 1000;
  border: 1px solid #000;
  margin-right: 10px;
  span {
    background-color: #000;
    z-index: 1010;
  }
}
.menu-label {
  float: left;
  font-family: LeagueGothicRegular;
  font-size: 2.3em;
  padding: 5px 0 0 10px;
}
