// scss-lint:disable ImportantRule

@font-face {
  font-family: LeagueGothicRegular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/League_Gothic-webfont.eot");
  src: url("../fonts/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/League_Gothic-webfont.woff") format("woff"), url("../fonts/League_Gothic-webfont.ttf") format("truetype"), url("../fonts/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
}
@import 'variables';
@import 'mixins';
@import 'nav';
@import 'pages/about';
@import 'pages/products';
@import 'pages/directions';
@import 'pages/vintage';
@import 'pages/contact';
@import 'pages/join';

body {
  background-color: #fff;
  margin: 60px;
  @include breakpoint(papa-bear) {
    margin: 0;
  }
}

.error404 {
  header {
    background-color: #e7d893;
    .logo-left {
      margin-right: 0;
    }
  }
  .dmbs-main {
    background-color: #f1e9c5;
    text-align: center;
    padding: 50px 0;
  }
}

.container {
  background-color: #fff;
  padding: 0;
  border: 1px solid #777 !important;
}

a {
  color: #000;
  text-decoration: none;
}

.home {
  .checker-header {
    display: flex;
    height: 315px;
    border-bottom: 2px solid #ebdea6;
    background: #fff url("../img/checkerboard70.png") -2px 0 repeat;
    align-items: center;
    justify-content: center;
    @include breakpoint(baby-bear) {
      flex-direction: column;
      // height: 165px;
      padding: 10px;
    }
  }
}
.full-height {
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3d58e;
  padding: 20px 0;
  @include breakpoint(papa-bear) {
    padding: 10px 20px;
  }
  @include breakpoint(baby-bear) {
    flex-direction: column;
  }
  .logo-left {
    margin-right: 40px;
    @include breakpoint(papa-bear) {
      margin-right: 10px;
    }
  }
  .section-box {
    margin-bottom: 20px;
  }
}

.tp-bgimg {
  background-position: top left !important;
  background-size: contain !important;
}

@include breakpoint(baby-bear) {
  #rev_slider_1_1_wrapper {
    height: 175px !important;
  }
}

// box at top right of all pages
.section-box {
  padding-top: 20px;
  //margin-left: -40px;
}

.dmbs-footer {
  margin-top: 30px;
  font-size: 13px;
  color: #777;

  padding: 0 36px 36px;
  .copyright {
    font-size: 11px;
    padding-top: 50px;
  }
  @include breakpoint(baby-bear) {
    padding: 0 15px 30px;
  }
}

@media (max-width: 768px) {

  .sub-stripe.stripe2 ul li {
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    > li {
      float: none;
    }
  }
}
