.page-about {
  header {
    background-color: #e7d893;
  }
  .navbar-nav > li.active > a {
    color:firebrick;
  }
  // body
  .left {
    background-color: #f1e9c5;
    min-height: 450px;
    padding: 5px 60px 10px;
    @include breakpoint(baby-bear) {
      padding: 10px 20px;
    }

    h1 {
      font-family: 'CheapPine-Sans', impact, sans-serif;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .right {
    background: #f1e9c5 url('../img/marty.jpg') right top no-repeat;
    height: 473px;
    background-size: cover;

    @include breakpoint(papa-bear) {
        width: 720px;
        background-size: cover;
    }
    @include breakpoint(papa-bear) {
        width: auto;
        background-size: cover;
    }
  }

}
