.page-contact {

  header {
    background-color: #e7d893;
  }
  .navbar-nav > li.active > a {
    color: rgb(225, 180, 10);
  }
  // body
  .left {
    background-color: #f1e9c5;
    min-height: 450px;
    padding: 5px 60px 10px;
    @include breakpoint(baby-bear) {
      min-height: 340px;
      padding: 20px 40px;
    }

    h3 {
      font-family: 'CheapPine-Sans', impact, sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
    }
  }
  .right {
    background: #f1e9c5 url('../img/contact-image.jpg') right top no-repeat;
    height: 448px;
    background-size: cover;

    @include breakpoint(papa-bear) {
        width: 720px;
        background-size: cover;
    }
    @include breakpoint(baby-bear) {
        width: auto;
        background-size: cover;
    }

  }


}
